<form method="post" action="/contacts" class="col-md-6 offset-md-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" type="email" />
    </div>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input class="form-control" name="subject" type="text" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" rows="10"></textarea>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
</form>