<form method="post" class="col-md-6 offset-md-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" name="name" type="text" />
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input class="form-control" name="imageUrl" type="text" />
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" name="address" type="text" />
    </div>
    <div class="form-group">
        <label for="biography">Biography</label>
        <textarea class="form-control" name="biography" rows="10"></textarea>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
</form>